:root {
  --main-font: Roboto, sans-serif;
  --title-size: 105px;
  --title-spacing: 10px;
  --heading-font: Pegasus;
  --heading-size: 50px;
  --heading-spacing: 4px;
  --subheading-size: 20px;
  --subheading-spacing: 4px;
  --subheading-weight: 300;
  --mainButton-size: 25px;
  --mainButton-spacing: 2px;
}
