.bookmark-heading {
  font-family: var(--heading-font);
  letter-spacing: 4px;
  font-size: var(--heading-size);
  color: var(--heading-color);
}

.bookmark-subheading {
  margin: 0;
  letter-spacing: 4px;
  font-family: var(--subheading-font);
  font-size: var(--subheading-size);
  color: var(--subheading-color);
}

.bookmark-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
}

.bookmark-footer {
  display: flex;
  align-items: center;
}
