.bookmark-heading {
  margin-top: 30px;
  font-family: var(--heading-font);
  letter-spacing: var(--heading-spacing);
  font-size: var(--heading-size);
  color: var(--heading-color);
}

.bookmark-subheading {
  margin: 0;
  letter-spacing: var(--subheading-spacing);
  font-family: var(--subheading-font);
  font-size: var(--subheading-size);
  font-weight: var(--subheading-weight);
  color: var(--subheading-color);
}

.bookmark-main__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
}

.bookmark-main__default-text {
  text-align: center;
  letter-spacing: var(--subheading-spacing);
  font-family: var(--subheading-font);
  font-size: var(--subheading-size);
  font-weight: var(--subheading-weight);
  color: var(--dark-color);
}

.bookmark-main__default {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookmark-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bookmark-footer__button {
  display: flex;
  align-items: center;
  padding: 0 50px;
  width: auto;
  height: 44px;
  border: transparent;
  border-radius: 4px;
  box-shadow: 3px 3px 6px var(--bright-color);
  background: var(--gold-color);
  font-size: var(--mainButton-size);
  font-weight: 200;
  letter-spacing: var(--mainButton-spacing);
  color: var(--background-color);
}

.bookmark-footer__back {
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: auto;
  height: 44px;
  border: transparent;
  border-radius: 4px;
  box-shadow: 3px 3px 6px var(--bright-color);
  background: var(--gold-color);
  font-size: var(--mainButton-size);
  font-weight: 200;
  letter-spacing: var(--mainButton-spacing);
  color: var(--background-color);
}

.bookmark-footer__svg {
  height: 26px;
  width: 26px;
  margin-right: 20px;
  margin-top: 2px;
}
