.mainButton {
  display: block;
  margin: 0 auto;
  width: 40vw;
  height: 7vh;
  border: transparent;
  border-radius: 4px;
  background: var(--gold-color);
  font-size: var(--mainButton-size);
  letter-spacing: var(--mainButton-spacing);
  color: var(--mainButton-color);
}
