a {
  text-decoration: none;
}

.takeAway-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.takeAway-heading {
  margin-top: 30px;
  font-family: var(--heading-font);
  letter-spacing: var(--heading-spacing);
  font-size: var(--heading-size);
  color: var(--heading-color);
}

.takeAway-subheading {
  margin: 0;
  letter-spacing: var(--subheading-spacing);
  font-family: var(--subheading-font);
  font-size: var(--subheading-size);
  font-weight: var(--subheading-weight);
  color: var(--subheading-color);
}

.takeAway-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.takeAway-tag__layout {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.takeAway-main__amount {
  font-family: var(--amount-font);
  font-size: var(--amount-size);
  text-decoration: underline;
  color: var(--dark-color);
}

.takeAway-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
