a {
  text-decoration: none;
}

.takeAway-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.takeAway-heading {
  margin-top: 30px;
  font-family: var(--heading-font);
  letter-spacing: var(--heading-spacing);
  font-size: var(--heading-size);
  color: var(--heading-color);
}

.takeAway-subheading {
  margin: 0;
  letter-spacing: var(--subheading-spacing);
  font-family: var(--subheading-font);
  font-size: var(--subheading-size);
  font-weight: var(--subheading-weight);
  color: var(--subheading-color);
}

.takeAway-main__tag-content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.takeAway-tag {
  padding: 5px 10px;
  border: solid 4px transparent;
  border-radius: 4px;
  box-shadow: 3px 3px 6px var(--bright-color);
  font-size: var(--tag-size);
  text-align: center;
  letter-spacing: var(--tag-spacing);
}

.takeAway-main__amount {
  font-family: var(--amount-font);
  font-size: var(--amount-size);
}

.takeAway-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
