.app-grid {
  display: grid;
  grid-template-rows: [header] 160px [content] auto [footer] 80px;
  grid-template-columns: [left gutter] 20px [content] auto [right gutter] 20px;
  height: 100vh;
}

header {
  grid-row: header;
  grid-column: content;
}

main {
  grid-row: content;
  grid-column: content;
}

footer {
  grid-row: footer;
  grid-column: content;
}
