body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--dark-color);
  background: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
